html, body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Tahoma", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 1200px;
  height: 739px;
  margin: 0 auto;
  padding-bottom: 41px;
  background: #ffffff url("../img/background.jpg") no-repeat;
  text-align: center;
}


.main-header img {
  margin: 76px 0 0 472px;
}

.main-navigation {
  width: 1200px;
  padding-bottom: 18px;
  background: #ffffff;
}

.main-navigation__items {
  position: relative;
}

.main-navigation__items a:hover {
  color: #81b3d2;
}

.main-navigation__items a:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-navigation__items::before {
  content: "";
  position: absolute;
  top: 0;
  left: 531px;
  width: 138px;
  height: 70px;
  background: url("../img/logo.png") no-repeat;
}

.main-navigation__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 17px 0 0 0;
  list-style: none;
}

.main-navigation__item {
  margin-left: 72px;
  font-size: 14px;
  color: #000000;
  text-decoration: none;
}

.main-navigation__item:first-child {
  margin-right: 75px;
}

.main-navigation__item:nth-child(2) {
  margin-right: 317px;
}

.main-navigation__item:nth-child(3) {
  margin-right: 92px;
}

.main-navigation__items a {
  color: inherit;
  text-decoration: none;
}

.main-header__title {
  display: inline-block;
  margin: 407px 0 12px 0;
  font-size: 21px;
  line-height: 26px;
  vertical-align: top;
}

.main-header__promo {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
}

.main-navigation__items .active {
  color: #766357;
  cursor: default;
}

.main-content {
  width: 1200px;
  margin: 0 auto;
}

.main-content__reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 256px;
}

.reason__title {
  width: 122px;
  padding-left: 80px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 21px;
  color: #ffffff;
}

.reason__number {
  position: relative;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.reason__number::before {
  content: "";
  position: absolute;
  left: -14px;
  bottom: 7px;
  width: 9px;
  height: 2px;
  background: #ffffff;
}

.reason__number::after {
  content: "";
  position: absolute;
  right: -14px;
  bottom: 7px;
  width: 9px;
  height: 2px;
  background: #ffffff;
}

.reason__description {
  margin: 22px 0 5px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #ffffff;
}

.reason-one--left {
  padding: 30px 60px 0 60px;
  text-align: center;
  background: #81b3d2;
}

.reason-two div {
  width: 300px;
  padding-top: 145px;
  text-align: center;
}

.reason-two {
  padding-bottom: 74px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #ffffff;
}

.reason-house {
  background: url("../img/house.png") no-repeat 50% 60px;
}

.reason-food {
  background: url("../img/food.png") no-repeat 48% 61px;
}

.reason-souvenirs {
  background: url("../img/souvenirs.png") no-repeat 50% 56px;
}

.reason-two__title {
  margin-bottom: 23px;
  font-size: inherit;
}

.reason-two__description {
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}



.reason-three {
  background: #81b3d2;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.reason-three--left {
  padding: 30px 40px 0 40px;
  text-align: center;
}

.reason-three--left .reason__title {
  width: 151px;
  padding-left: 85px;
}



.reason-four {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.reason-four div {
  padding-top: 30px;
  text-align: center;
}

.reason-four__title {
  width: 120px;
  margin-bottom: 21px;
  padding-left: 73px;
  font-size: inherit;
}

.reason-four__description {
  width: 266px;
  margin-top: 21px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.reason-four .reason__number {
  color: #333333;
}

.reason-four .reason__number::before {
  background: rgba(51, 51, 51, 0.5);
}

.reason-four .reason__number::after {
  background: rgba(51, 51, 51, 0.5);
}



.main-content__hotels {
  text-align: center;
  background: #ffffff;
}

.hotels__search {
  position: relative;
  padding: 50px 0 30px 0;
}

.hotels__title {
  font-size: 30px;
  line-height: 36px;
}

.hotels__description {
  margin: 24px 0 77px 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
}

.hotels__form {
  position: relative;
  z-index: 10;
  padding: 30px 140px 30px 140px;
  line-height: 26px;
  color: #ffffff;
  background: #766357;
  cursor: pointer;
}

.hotels__form:hover {
  background: #604e43;
}

.hotels__form:active {
  background: #503e33;
  color: #857871;
}


.hotels__search-form  {
  display: none;
  width: 460px;
  padding: 55px;
  background: #ffffff;
  position: absolute;
  left: 315px;
  top: 289px;
  -webkit-box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
    box-shadow: 0px 2px 8px 0px rgba(128,128,128,1);
}


.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}


@-webkit-keyframes bounce {
  0%   {-webkit-transform: translateX(-2000px);transform: translateX(-2000px); }
  70%  {-webkit-transform: translateX(30px);transform: translateX(30px);    }
  90%  {-webkit-transform: translateX(-10px);transform: translateX(-10px);   }
  100% {-webkit-transform: translateX(0);transform: translateX(0);       }
}


.hotels__date {
  margin-bottom: 37px;
  margin-top: 0;
}

.hotels__date label {
  font-size: 14px;
}

.hotels__date input {
  padding: 5px 38px 5px 13px;
  margin-left: 17px;
  width: 292px;
  background: #f2f2f2 url("../img/calendar.png") no-repeat 316px;
  border: none;
  outline: none;
}

.hotels__date input:hover {
  background: #ebebeb url("../img/calendar-hover.png") no-repeat 316px;
}

.hotels__date input:focus {
  background: #ffffff url("../img/calendar-active.png") no-repeat 316px;
  outline: 2px solid #e5e5e5;
  -webkit-box-shadow: 0 0 20px 0 #e5e5e5;
          box-shadow: 0 0 20px 0 #e5e5e5;
}


.hotels__age {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -19px 0 5px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
}

.hotels__grown input {
  width: 38px;
  height: 36px;
  margin: 0 -7px 0 24px;
  text-align: center;
  background: #f1f1f1;
  font-weight: 700;
  border: none;
  outline: none;
}

.hotels__child input {
  width: 38px;
  height: 36px;
  margin-right: 23px;
  text-align: center;
  background: #f1f1f1;
  font-weight: 700;
  border: none;
  outline: none;
}


::-webkit-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
::-moz-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
:-ms-input-placeholder {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.hotels__age button {
  position: relative;
  font-size: 0;
  background: #f1f1f1;
  color: #a9a9a9;
  outline: none;
  border: none;
  cursor: pointer;
}

.hotels__age .adults-minus::before {
  position: absolute;
  top: -23px;
  right: -28px;
  width: 38px;
  height: 38px;
  background: #f1f1f1 url("../img/minus.svg") no-repeat 50%;
  content: "";
}

.adults-minus:hover::before {
  background: #f1f1f1 url("../img/minus-hover.svg") no-repeat 50%;
}

.adults-minus:active::before {
  background: #f1f1f1 url("../img/minus-active.svg") no-repeat 50%;
}

.hotels__age .adults-plus::before {
  position: absolute;
  top: -23px;
  left: 3px;
  width: 38px;
  height: 38px;
  background: #f1f1f1 url("../img/plus.svg") no-repeat 50%;
  content: "";
}

.adults-plus:hover::before {
  background: #f1f1f1 url("../img/plus-hover.svg") no-repeat 50%;
}

.adults-plus:active::before {
  background: #f1f1f1 url("../img/plus-active.svg") no-repeat 50%;
}

.hotels__age .children-minus::before {
  position: absolute;
  top: -23px;
  right: -5px;
  width: 38px;
  height: 38px;
  background: #f1f1f1 url("../img/minus.svg") no-repeat 50%;
  content: "";
}

.children-minus:hover::before {
  background: #f1f1f1 url("../img/minus-hover.svg") no-repeat 50%;
}

.children-minus:active::before {
  background: #f1f1f1 url("../img/minus-active.svg") no-repeat 50%;
}

.hotels__age .children-plus::before {
  position: absolute;
  top: -23px;
  left: -27px;
  width: 38px;
  height: 38px;
  background: #f1f1f1 url("../img/plus.svg") no-repeat 50%;
  content: "";
}

.children-plus:hover::before {
  background: #f1f1f1 url("../img/plus-hover.svg") no-repeat 50%;
}

.children-plus:active::before {
  background: #f1f1f1 url("../img/plus-active.svg") no-repeat 50%;
}

.hotels__grown label {
  margin-right: 38px;
}

.hotels__child label {
  margin-right: 45px;
}

.hotels__map {
  max-height: 473;
  background: url("../img/map.jpg") no-repeat;
}



.hotel__button {
  cursor: pointer;
  margin-top: 37px;
  padding: 15px 0;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  background: #81b3d2;
  border: none;
}

.hotel__button:hover {
  background: #669ec0;
}

.hotel__button:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}


footer.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 33px;
  padding-bottom: 37px;
  background: #ffffff;
}

.main-footer__hashteg {
  display: block;
  margin-top: 13px;
  margin-left: 132px;
  margin-right: 258px;
}

.main-footer__socials {
  margin-right: 225px;
}

.social__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.social__button {
  margin-right: 5px;
  width: 46px;
  height: 48px;
}

.social__tw {
  background: #81b3d2 url("../img/twitter.png") no-repeat 50%;
}

.social__tw:hover {
  background: #669ec0 url("../img/twitter.png") no-repeat 50%;
}

.social__tw:active {
  background: #5496bd url("../img/twitter-active.png") no-repeat 50%;
}

.social__fb:hover {
  background: #669ec0 url("../img/fb.png") no-repeat 50%;
}

.social__fb:active {
  background: #5496bd url("../img/fb-active.png") no-repeat 50%;
}

.social__yt:hover {
  background: #669ec0 url("../img/youtube.png") no-repeat 50%;
}

.social__yt:active {
  background: #5496bd url("../img/youtube-active.png") no-repeat 50%;
}
.social__fb {
  background: #81b3d2 url("../img/fb.png") no-repeat 50%;
}

.social__yt {
  background: #81b3d2 url("../img/youtube.png") no-repeat 50%;
}

.main-footer__authors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

svg:hover path {
  fill: #81b3d2;
}

svg:active path {
  fill: rgba(0, 0, 0, 0.3);
}

.authors__text {
  margin-right: 7px;
  font-size: 14px;
  font-weight: 400;
}

/* Стилизация страницы отелей */

.content-header {
  height: 273px;
  background: url("../img/content-background.jpg") no-repeat;
}

.hotel-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ffffff;
}

.specials input {
  display: none;
}

.specials input + .control-indicator {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-left: 19px;
  background: url("../img/checkbox-off.svg") no-repeat;
  vertical-align: text-top;
}

.specials input:checked + .control-indicator {
  background: url("../img/checkbox-on.svg") no-repeat;
}

.specials  .control-indicator:hover {
  background: url("../img/checkbox-off-hover.svg") no-repeat;
}

.hotel-form label {
  display: block;
  margin-left: -18px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 400;
}

.form-title {
  display: block;
  margin: 27px 10px 23px 0;
  font-size: 16px;
}

.infrastracture {
  margin-left: 71px;
  width: 220px;
}

.housing-type {
  width: 220px;
  margin-right: 200px;
  padding-left: 45px;
}

.filter-range {
  margin: 0 70px;
  width: 330px;
}

.price-controls {
  position: relative;
  height: 32px;
  margin-bottom: 20px;
  font-size: 0;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 22px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #ffffff;
}

.price-controls label {
  display: inline-block;
  font-size: 14px;
  line-height: 33px;
  vertical-align: top;
  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 80px;
}

.price-controls input {
  width: 50px;
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  border: none;
  outline: none;
}

.range-controls {
  position: relative;
  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3)
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.range-toogle {
  position: absolute;
  top: -9px;
  width: 4px;
  height: 4px;
  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
}

.range-toogle-min {
  left: 0;
}

.range-toogle-max {
  left: 80%;
}

.range-toogle:hover {
  background: #1c4f80;
}

.btn-transparent {
  display: block;
  margin: 0 85px;
  padding: 6px 30px;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  background: transparent;
  text-transform: uppercase;
  border: 2px solid #ffffff;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;
  background: #ffffff;
}

.range-title {
  display: block;
  margin-top: 28px;
  margin-bottom: 8px;
  font-size: 16px;
}

.black {
  width: 200px;
  height: 200px;
  background-color: red;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 32px 0 33px 72px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.sorting-list {
  margin: 4px 0 0 48px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-item {
  margin-right: 30px;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  border-bottom: 1px dotted #81b3d2;
}

.sorting-item:hover {
  color: #81b3d2;
}

.sorting-item:active {
  color: #000000;
  border: none;
}

.sorting-select {
  margin-left: 36px;
  color: #81b3d2;
  border: none;
}

.arrow-up {
  margin: 0 13px 0 474px;
}

.sorting span:hover svg{
  fill: #000000;
}

.sorting span:active svg{
  fill: #81b3d2;
}

.arrow-down {
  -webkit-transform: rotate(180deg) translateY(-4px);
      -ms-transform: rotate(180deg) translateY(-4px);
          transform: rotate(180deg) translateY(-4px);
}

.arrow-active {
  fill: #81b3d2;
}

.arror-up:hover {
  background: #000000;
}

.sorting span {
  cursor: pointer;
}

.hotel-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1px;
  padding: 27px 0 28px 72px;
  background: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.hotel-card img {
  margin-top: 3px;
}

.hotel-card--left {
  width: 365px;
  margin-right: 440px;
}

.hotel-title {
  display: block;
  margin-left: 30px;
}

.hotel-title:hover {
  color: #81b3d2;
  cursor: pointer;
}

.hotel-title:active {
  opacity: 0.3;
  cursor: pointer;
}

.hotel-type {
  display: block;
  margin: 10px 0 14px 30px;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}

.hotel-price {
  margin-left: 40px;
}

.more-btn {
  margin-left: 31px;
  padding: 4px 17px 4px 17px;
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
  background: #81b3d2;
}

.more-btn:hover {
  background: #669ec0;
}

.more-btn:active {
  background: #5496bd;
  color: rgba(255, 255, 255, 0.3);
}

.book-btn {
  padding: 5px 17px 5px 17px;
  font-size: 14px;
  font-family: inherit;
  text-transform: uppercase;
  border: none;
  font-weight: 700;
  color: #ffffff;
  background: #766357;
}

.book-btn:hover {
  background: #604e43;
}

.book-btn:active {
  background: #503e33;
  color: rgba(255, 255, 255, 0.3)
}

.hotel-card--right {
  width: 126px;
  text-align: right;
}

.hotel-stars {
  margin: 0 10px 0 0;
  padding: 0;
  list-style: none;
}

.hotel-stars .star {
  display: inline-block;
  vertical-align: top;
}

.hotel-rating {
  display: inline-block;
  margin: 44px 13px 0px 0px;
  padding: 4px 10px 4px 10px;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  background: #f2f2f2;
  color: #666666;
}

.motel-left {
  margin-left: 64px;
}

.apt-left {
  margin-left: 21px;
}